.img {
    width: 100%;
    border-radius: 5px; 
    padding: 0px;
    margin: auto;
}

@media only screen and (max-width: 1279px) {
    .img {
        width: 50%;
    }
}

@media only screen and (max-width: 959px) {
    .img {
        width: 80%;
    }
}

@media only screen and (max-width: 599px) {
    .img {
        width: 100%;
    }
}